.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6c95de, #e8f0ff);
}
.hero-content{
    margin-left: 40px;
}
.hero-image img{
    width: 850px;
    max-width: 100%;
    margin: 20px 5px 0 0;
    
}
.hero-name{
    font-size:30px ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.hero-line1{
    font-size:23px ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero-line2{
    font-family:cursive;
    font-size: 20px;
}

.hero-buttons button{
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 20px 10px;
    cursor: pointer;
}

.hero-enter-arena{
    background-color: rgb(0, 181, 0);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-explore-arena{
    background-color: rgb(39, 109, 239);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-enter-arena:hover{
    box-shadow: 0 0 0 1px rgb(1, 174, 21);
    color: #e6e6e8;
}

.hero-explore-arena:hover{
    box-shadow: 0 0 0 1px rgb(77, 111, 213);
    color: #e6e6e8;
}