.working{
    margin: 50px;
}

.working h1{
    margin-top: 80px;
}
.working h4{
    margin-top:30px;
    font-size: 22px;
}
.working p{
    line-height: 1.4;
    font-size: 18px;
    margin-right: 40px;
}


.grid{
    background: linear-gradient(to right, rgb(240, 233, 162), rgb(154, 235, 250));
    padding: 10px 20px;
    margin: 30px 5px;
    border: none;
    box-shadow: 3px 1px 5px gray;
    border-radius: 15px;
}